.App{
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

 .logo-container{
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-container{
  width: 400px;
  height: 600px;
  padding: 14px;
  background:  linear-gradient(225deg, #750303, #620303);
  border-radius: 15px;
  
} 
.calculator-title{
  color: white;
  font-size: 50px;
  font-family: Lato, sans-serif;
}
.fila{
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px), handheld and (orientation: landscape){
  .calculator-container{
  width: 300px;
  height: 400px;
  }
  .logo-container{
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calculator-title{
    color: white;
    font-size: 30px;
    font-family: Lato, sans-serif;
  }
}




